.body.state--active {
	margin: 0;
	padding: 0;
}
.body{
    overflow-x: hidden;
}
.outer-container {
	background-color: #ffffff;
	margin: auto;
}
.home-banner {
	width: 100%;
	top: 10px;
	position: relative;
}
.home-banner-image {
	width: 100%;
}

.home-banner-image{
	margin-top: -2px;
}
/*.bx-wrapper .bx-prev {

background: url("images./controls.png") no-repeat scroll 0 -32px rgba(0, 0, 0, 0);
} */


.signup_button {
	position: absolute;
	top: 430px;
	margin-left: 650px;
}

.button {
    background-color: #5094f2;
    width: 175px;
    height: 50px;
    border: none;
    color: white;
    font-size: 22.35px;
    padding: 15px 30px;
    margin: 4px 26px;
    cursor: pointer;
    position: absolute;
    border-radius: 2px;
}

.signup-input{
	
    font-size: 22,35px;
    position: absolute;
    margin-top: -15px;
    margin-left: 8px;
}

.circle {
	position: relative;
    margin-top: 15px;
    margin-left: 33px;
    width: 25px;
    height: 25px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: #ffffff;
    }

    .checkmark {
    display:inline-block;
    width: 22px;
    height:22px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.checkmark_stem {
   	position: absolute;
    width: 3px;
    height: 13px;
    background-color: #2196F3;
    left: 14px;
    top: 3px;
}

.checkmark_kick {
    position: absolute;
    width: 7px;
    height: 3px;
    background-color: #2196F3;
    left: 8px;
    top: 13px;
}

.slick-prev {
	left: 20px;
	z-index: 1;
}
.slick-next {
	right: 25px;
}
.general-section:after {
	content: "";
	display: table;
	clear: both;
}
.general-section-container {
	max-width: 1024px;
	margin: 0 auto;
	padding-top: 95px;
}
.general-section-title {
	font-family: segoeWPN;
	font-size: 42px;
	color: #6f7173;
	margin-bottom: 35px;
}
.general-section-hightlights {
	font-family: segoeWPN;
	font-size: 26px;
	color: #6f7173;
}
.general-section-description {
	font-family: segoenWPN Light;
	color: #909090;
	font-size: 15px;
}
.general-section-image {
	float: left;
	width: 50%;
}
.general-section-description-insights {
	line-height: 2.5;
    max-width: 40%;
    width: 100%;
    float: left;
    padding: 10px;
}
.footer {
	width: 100%;
	height: 95px;
	border-top-style: solid;
	border-top-width: thin;
	border-top-color: #e5e5e5;
}
.home-footer-copyright {
	text-align: center;
	font-family: segoen WPN Light;
	font-size: 15px;
	color: #909090;
	padding-top: 25px;
	padding-bottom: 20px;
}

.teaser{
	max-width: 955px;
    margin: 0 auto;
    padding-left: 22px;
    content: "";
    display: table;
    clear: both;
}

.circle-wraper{
	width: 33.33%;
    float: left;

}


.circle1 {
	position: absolute;
    margin-top: 15px;
    margin-left: 9px;
    width: 170px;
    height: 170px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 50%;
    background: #5094f2;
    }

 .circle1-teaser-image{
   	background-repeat: no-repeat;
    /* background-color: green; */
    position: relative;
    width: 78px;
    height: 108px;
    margin-top: 44px;
    margin-left: 57px;
    margin-bottom: 50px;
    }

.circle2 {
	position: absolute;
    margin-top: 15px;
    margin-left: 9px;
    width: 170px;
    height: 170px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 50%;
    background: #d94748;
    }

.circle2-teaser-image{
    background-repeat: no-repeat;
    position: relative;
    width: 95px;
    height: 80px;
    margin-top: 59px;
    margin-left: 48px;
    margin-bottom: 50px;
    }

.circle3 {
	position: absolute;
    margin-top: 15px;
    margin-left: 9px;
    width: 170px;
    height: 170px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 50%;
    background: #ebbb11;
    }

 .circle3-teaser-image{
    background-repeat: no-repeat;
    position: relative;
    width: 95px;
    height: 90px;
    margin-top: 55px;
    margin-left: 50px;
    margin-bottom: 50px;
    }

.bottom-teaser-item-content-copy{
	color: #909090;
    font-size: 19.35px;
    font-family: segoeWPN;
}

   















@media (max-width: 768px) {
	
	.home-banner-image {
		display: none;
	}
	.home-banner-signup-button {
		width: 100px;
		padding-left: 130px;
		position: absolute;
		margin-top: -35px;
	}

.button {
    font-size: 18px;
    padding: 0;
    max-width: 144px;
    max-height: 33px;
	}

.signup-input{
    position: absolute;
    margin-top: -9px;
    margin-left: 38px;
    font-size: 17px;
    }

	.circle{
		margin-top: 9px;
	}

	.signup_button {
    position: absolute;
    top: 0;
    margin-top: 177px;
    margin-left: 133px;;
}
	
	.teaser-content-wraper {
		width: 100%;
		border-bottom-style: outset;
		border-bottom-color: #cccccc;
		border-bottom-width: thin;
	}
	.teaser-highlights-image {
		float: left;
		width: 20%;
		margin-top: 15px;
	}

	.teaser-highlights {
		float: right;
		width: 75%;
		text-align: start;
	}

	.bottom-teaser-item-content{
		width: 70%;
	}

	.general-section-container {
		padding-top: 0;
	}

	.general-section-image {
    	margin-left: 70px;
    	float: none;
	}

	.general-section-description-container {
		width: 90%;
		margin: 0 auto;
	}
	.general-section-description-insights {
		line-height: 1.8;
		max-width: 100%;
		padding: 0;
	}
	.general-section-title {
		text-align: center;
		font-size: 42px;
		color: #6f7173;
	}
	.general-section-description {
		font-family: segoen WPN Light;
		font-size: 17px;
		color: #909090;
	}
	.home-footer-copyright {
		font-family: segoen WPN Light;
		font-size: 15px;
		color: #909090;
	}

	.circle-wraper{
		width: 100%;
		float: none;
	}

.teaser{
	padding: 0;
}

.circle-wraper {
    width: 100%;
    border-bottom-style: outset;
    border-bottom-color: #cccccc;
    border-bottom-width: thin;
    float: left;
}

.circle1{
	float: left;
    width: 75px;
    height: 75px;
    margin-top: 15px;
}

.circle1-teaser{
	float: left;
    width: 20%;
}

.circle1-teaser-image{
    position: relative;
    width: 33px;
    height: 50px;
    margin-top: 27px;
    margin-left: 33px;
    margin-bottom: 0;
}

.circle2{
	float: left;
    width: 75px;
    height: 75px;
    margin-top: 15px;
}

.circle2-teaser{
	float: left;
    width: 20%;
}

.circle2-teaser-image{
    width: 33px;
    height: 33px;
    margin-top: 37px;
    margin-left: 30px;
}


.circle3{
	float: left;
    width: 75px;
    height: 75px;
    margin-top: 15px;
}

.circle3-teaser{
	float: left;
    width: 20%;
}

.circle3-teaser-image{
    
    width: 31px;
    height: 31px;
    margin-top: 35px;
    margin-left: 32px;
    
}


}